html,
body {
  margin: 0;
  padding: 0;
}


#new_game{
	padding: 10px 13px;
	background-color: rgb(3, 252, 152);
	border-radius: 4px;	
	border: none;
	
	text-decoration:none;
	color: white;
	font-size: 16;
	font-weight:bold;
	cursor:pointer;
	
}

#new_game:focus {
	outline:0;
}

#new_game:hover{
	background-color: rgb(3, 252, 130);
	font-size: 17;
}